body {
    text-align: center;
    margin: 40px;
    background: hsla(12, 84%, 68%, 1);

    background: linear-gradient(90deg, hsla(12, 84%, 68%, 1) 0%, hsla(343, 100%, 66%, 1) 100%);
    
    background: -moz-linear-gradient(90deg, hsla(12, 84%, 68%, 1) 0%, hsla(343, 100%, 66%, 1) 100%);
    
    background: -webkit-linear-gradient(90deg, hsla(12, 84%, 68%, 1) 0%, hsla(343, 100%, 66%, 1) 100%);
    
}

h1 {        /*"The Code Quiz Timer" Title*/
padding: 10px;
color: wheat;
text-decoration: line-through;
font-family: 'merienda', cursive;
font-size: 60px;
}
h2 {
    color: wheat;
    font-family: 'merienda', cursive;
    font-weight: bold;
    padding: 10px;
    -webkit-text-stroke: 1px  wheat;
	text-shadow: -1px 1px 2px #23430C,
				  1px 1px 2px wheat;
				  /* 1px -1px 0 #23430C,
				  -1px -1px 0 #23430C; */
}

.container-btn {
    margin-left: 30px;
    margin-top: 60px;
  }
  
  .inside-btn {
    font-family: 'Open Sans';
    color: #1dbde6;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    padding: 20px;
    border: 4px solid #000000;
    display: inline-block;
    transition: all 0.4s ease 0s;
  }
  
  .inside-btn:hover {
    color: #882b2b;
    background: #f5bfd7;
    border-color: #f1515e;
    transition: all 0.4s ease 0s;
  }
  .input-btn {
    font-weight: bolder;
  }
