body {
    margin-top: 5vh;
    /* margin-inline: 35vw; */
    line-height: 40px;
    flex-wrap: wrap;
    text-align: center;
}
header {
    padding: 10px; 
    height: 10vh;
}
#nav {
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


}


a {
     color:#ff930f;
    height: auto;
}
    


h1 {
    font-size: 45px;
    flex-wrap: wrap-reverse;
}
h2 {
    
}
a:link {
    color:#ff930f;
    height: auto;

}
.text-content {
    flex-wrap: wrap-reverse;
    font-family: 'merienda', cursive;
}

main {
    flex-wrap: wrap-reverse;
    font-family: 'merienda', cursive;
    color: wheat;
    font-family: 'merienda', cursive;
    font-weight: bold;
    padding: 10px;
    -webkit-text-stroke: 1px  #000000;
	text-shadow: 1px 1px 2px #000000,#ffffff;
    
}
/* #8db600#ff91a4; */
html {
    background: hsla(12, 84%, 68%, 1);

background: linear-gradient(90deg, hsla(12, 84%, 68%, 1) 0%, hsla(343, 100%, 66%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(12, 84%, 68%, 1) 0%, hsla(343, 100%, 66%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(12, 84%, 68%, 1) 0%, hsla(343, 100%, 66%, 1) 100%);

}

.center-title {
    font-family: 'Merienda', cursive;
    font-weight: bolder;
}



.container-btn {
    margin-left: 30px;
    margin-top: 60px;
  }
  
  .inside-btn {
    font-family: 'Open Sans';
    color: #1dbde6;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    padding: 20px;
    border: 4px solid #000000;
    display: inline-block;
    transition: all 0.4s ease 0s;
  }
  
  .inside-btn:hover {
    color: #882b2b;
    background: #f5bfd7;
    border-color: #f1515e;
    transition: all 0.4s ease 0s;
  }
  .input-btn {
    font-weight: bolder;
  }
